html,
body {
  margin: 0;
}
input,
button {
  outline: none;
  border: none;
}
.wapper {
  padding: 10px;
}
.wapper .top {
  display: flex;
}
.wapper .top .city {
  flex: 30%;
}
.wapper .top .search {
  flex: 60%;
}
.wapper .top .msg {
  flex: 10%;
}
