html,
body {
  margin: 0;
}
input,
button {
  outline: none;
  border: none;
}
.wrapper {
  outline: #f00 solid;
  padding: 10px;
}
.wrapper .top {
  display: flex;
}
.wrapper .top .city {
  position: relative;
  flex: 25%;
}
.wrapper .top .city::before {
  content: '';
  position: absolute;
  border: 5px solid;
  border-color: #f00 transparent transparent;
  top: 10px;
  right: 10px;
}
.wrapper .top .search {
  flex: 65%;
  position: relative;
}
.wrapper .top .search input {
  display: block;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #808080;
}
.wrapper .top .search .icon {
  position: absolute;
  right: 10px;
  transform: translateY(-50%);
  top: 50%;
  width: 10px;
  height: 10px;
  background: #f00;
}
.wrapper .top .msg {
  flex: 10%;
  width: 10px;
  height: 10px;
  background: #f00;
}
